In [1]:
# import dependencies
import pandas as pd
import numpy as np

In [4]:
# import and read csv file
df = pd.read_csv('Resources/vine_table.csv', index_col=0)
df

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
RTIS3L2M1F5SM             5              0            0    N                 Y
R1ZV7R40OLHKD             5              0            0    N                 Y
R3BH071QLH8QMC            1              0            1    N                 Y
R127K9NTSXA2YH            3              0            0    N                 Y
R32ZWUXDJPW27Q            4              0            0    N                 Y
...                     ...            ...          ...  ...               ...
RPC430LWZJ60T             5              1            1    N                 N
R347MZT5FH6HRJ            5              2            2    N                 N
RJ5BETZP0VIUS             1              0            2    N                 N
R85QTDO2KZMGO             1              1            3    N                 N
R2W36RZZZNTYWF            5              1            1    N                 N

[1785997 rows x 5 columns]

In [5]:
# filter dataframe to show >= 20 votes
filter_df = df[df['total_votes'] >= 20]
filter_df

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R4PKAZRQJJX14             1             21           34    N                 N
R2CI0Y288CC7E2            1             21           35    N                 Y
R127WEQY2FM1T3            1            147          175    N                 Y
R3EZ0EPYLDA34S            1             14           31    N                 Y
R2FJ94555FZH32            2             55           60    N                 N
...                     ...            ...          ...  ...               ...
R3GYUWLD9FWCPS            5             30           30    N                 N
R26KS4Q9G04FIV            2              8           21    N                 N
RU0J1ZMBCLD27             5             27           29    N                 N
R1D69XH2THYKTG            5             18           20    N                 N
R3U5C85OV6BUKM            4             38           43    N                 N

[65379 rows x 5 columns]

In [6]:
# calculate variable for helpful votes as a percent of all votes
filter_df['%_helpful'] = filter_df.helpful_votes / filter_df.total_votes

#filter table to only show rows with % positive greater than 50%
helpful_df = filter_df[filter_df['%_helpful'] >= .50]

C:\Users\Scott\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
# check filter
helpful_df['%_helpful'].min()

0.5

In [8]:
# filter step2 df to only show rows with a Y value for a Vine review
helpful_df_filtered_y = helpful_df[helpful_df['vine'] == 'Y']

In [9]:
# filter dataframe for vine = N
helpful_df_filtered_n = helpful_df[helpful_df['vine'] == 'N']

In [10]:
# calculate number of reviews, number of 5 star reviews, percent of 5 star reviews for vine = y
total_count_y = len(helpful_df_filtered_y.index)
five_count_y_df =  helpful_df_filtered_y[helpful_df_filtered_y['star_rating'] == 5.0]
five_count_y  =len(five_count_y_df)
five_star_percent = five_count_y / total_count_y
print('Summary Data: Vine review')
print('--------------------------')
print(f'five star count: {five_count_y}')
print(f'total count: {total_count_y}')
print(f'five star percent: {five_star_percent:.1%}')
print('--------------------------')

Summary Data: Vine review
--------------------------
five star count: 48
total count: 94
five star percent: 51.1%
--------------------------

In [11]:
# calculate number of reviews, number of 5 star reviews, percent of 5 star reviews for vine = n
total_count_n = len(helpful_df_filtered_n.index)
five_count_n_df =  helpful_df_filtered_n[helpful_df_filtered_n['star_rating'] == 5.0]
five_count_n  =len(five_count_n_df)
five_star_percent = five_count_n / total_count_n
print('Summary Data: No Vine review')
print('--------------------------')
print(f'five star count: {five_count_n}')
print(f'total count: {total_count_n}')
print(f'five star percent: {five_star_percent:.1%}')
print('--------------------------')

Summary Data: No Vine review
--------------------------
five star count: 15663
total count: 40471
five star percent: 38.7%
--------------------------